0:0  - 3:0    •source_file
0:0  - 2:1      •function_declaration
0:0  - 0:2         "fn"
0:3  - 0:6         name: identifier `add`
0:6  - 0:28       parameters: •parameter_list
0:6  - 0:7           "("
0:7  - 0:27         •parameter
0:7  - 0:11            label: identifier `left`
0:12 - 0:16           •ERROR
0:12 - 0:15              identifier `i32`
0:15 - 0:16              ","
0:17 - 0:22            name: identifier `right`
0:22 - 0:23            ":"
0:24 - 0:27            type: type
0:24 - 0:27              base: type_name
0:24 - 0:27                name: type_identifier `i32`
0:27 - 0:28         ")"
0:28 - 0:29       ":"
0:30 - 0:33       return_type: type
0:30 - 0:33         base: type_name
0:30 - 0:33           name: type_identifier `i32`
0:34 - 2:1        body: block
0:34 - 0:35         "{"
1:2  - 1:21         return_statement
1:2  - 1:8            "return"
1:9  - 1:21           binary_expression
1:9  - 1:13             left: identifier `left`
1:14 - 1:15             "+"
1:16 - 1:21             right: identifier `right`
2:0  - 2:1          "}"
<source>	(ERROR [0, 12] - [0, 16])
