0:0   - 15:0    source_file
0:0   - 2:1       function_declaration
0:0   - 0:2         "fn"
0:3   - 0:13        name: identifier `fetchValue`
0:13  - 0:22        parameters: parameter_list
0:13  - 0:14          "("
0:14  - 0:21          parameter
0:14  - 0:16            name: identifier `id`
0:16  - 0:17            ":"
0:18  - 0:21            type: type
0:18  - 0:21              base: type_name
0:18  - 0:21                name: type_identifier `i32`
0:21  - 0:22          ")"
0:22  - 0:23        ":"
0:24  - 0:27        return_type: type
0:24  - 0:27          base: type_name
0:24  - 0:27            name: type_identifier `i32`
0:28  - 0:33        "async"
0:34  - 2:1         body: block
0:34  - 0:35          "{"
1:2   - 1:11          return_statement
1:2   - 1:8             "return"
1:9   - 1:11            identifier `id`
2:0   - 2:1           "}"
4:0   - 6:1       function_declaration
4:0   - 4:2         "fn"
4:3   - 4:11        name: identifier `checksum`
4:11  - 4:23        parameters: parameter_list
4:11  - 4:12          "("
4:12  - 4:22          parameter
4:12  - 4:17            name: identifier `value`
4:17  - 4:18            ":"
4:19  - 4:22            type: type
4:19  - 4:22              base: type_name
4:19  - 4:22                name: type_identifier `i32`
4:22  - 4:23          ")"
4:23  - 4:24        ":"
4:25  - 4:28        return_type: type
4:25  - 4:28          base: type_name
4:25  - 4:28            name: type_identifier `i32`
4:29  - 6:1         body: block
4:29  - 4:30          "{"
5:2   - 5:18          return_statement
5:2   - 5:8             "return"
5:9   - 5:18            binary_expression
5:9   - 5:14              left: identifier `value`
5:15  - 5:16              "*"
5:17  - 5:18              right: number_literal `2`
6:0   - 6:1           "}"
8:0   - 14:1      function_declaration
8:0   - 8:2         "fn"
8:3   - 8:7         name: identifier `main`
8:7   - 8:9         parameters: parameter_list
8:7   - 8:8           "("
8:8   - 8:9           ")"
8:9   - 8:10        ":"
8:11  - 8:15        return_type: type
8:11  - 8:15          base: type_name
8:11  - 8:15            name: type_identifier `Void`
8:16  - 8:21        "async"
8:22  - 14:1        body: block
8:22  - 8:23          "{"
9:2   - 9:33          binding_declaration
9:2   - 9:7             "async"
9:8   - 9:11            "let"
9:12  - 9:16            pattern: pattern
9:12  - 9:16              identifier `left`
9:17  - 9:18            "="
9:19  - 9:33            value: call_expression
9:19  - 9:29              function: identifier `fetchValue`
9:29  - 9:33              arguments: argument_list
9:29  - 9:30                "("
9:30  - 9:32                argument
9:30  - 9:32                  value: number_literal `20`
9:32  - 9:33                ")"
10:2  - 10:34         binding_declaration
10:2  - 10:7            "async"
10:8  - 10:11           "let"
10:12 - 10:17           pattern: pattern
10:12 - 10:17             identifier `right`
10:18 - 10:19           "="
10:20 - 10:34           value: call_expression
10:20 - 10:30             function: identifier `fetchValue`
10:30 - 10:34             arguments: argument_list
10:30 - 10:31               "("
10:31 - 10:33               argument
10:31 - 10:33                 value: number_literal `22`
10:33 - 10:34               ")"
11:2  - 11:33         binding_declaration
11:2  - 11:7            "spawn"
11:8  - 11:11           "let"
11:12 - 11:18           pattern: pattern
11:12 - 11:18             identifier `digest`
11:19 - 11:20           "="
11:21 - 11:33           value: call_expression
11:21 - 11:29             function: identifier `checksum`
11:29 - 11:33             arguments: argument_list
11:29 - 11:30               "("
11:30 - 11:32               argument
11:30 - 11:32                 value: number_literal `21`
11:32 - 11:33               ")"
12:2  - 12:41         binding_declaration
12:2  - 12:5            "let"
12:6  - 12:19           pattern: pattern
12:6  - 12:19             tuple_pattern
12:6  - 12:7                "("
12:7  - 12:11               pattern
12:7  - 12:11                 identifier `left`
12:11 - 12:12               ","
12:13 - 12:18               pattern
12:13 - 12:18                 identifier `right`
12:18 - 12:19               ")"
12:20 - 12:21           "="
12:22 - 12:41           value: unary_expression
12:22 - 12:27             "await"
12:28 - 12:41             operand: tuple_expression
12:28 - 12:29               "("
12:29 - 12:33               tuple_element
12:29 - 12:33                 value: identifier `left`
12:33 - 12:34               ","
12:35 - 12:40               tuple_element
12:35 - 12:40                 value: identifier `right`
12:40 - 12:41               ")"
13:2  - 13:36         expression_statement
13:2  - 13:36           call_expression
13:2  - 13:7              function: identifier `print`
13:7  - 13:36             arguments: argument_list
13:7  - 13:8                "("
13:8  - 13:35               argument
13:8  - 13:35                 value: binary_expression
13:8  - 13:20                   left: binary_expression
13:8  - 13:12                     left: identifier `left`
13:13 - 13:14                     "+"
13:15 - 13:20                     right: identifier `right`
13:21 - 13:22                   "+"
13:23 - 13:35                   right: unary_expression
13:23 - 13:28                     "await"
13:29 - 13:35                     operand: identifier `digest`
13:35 - 13:36               ")"
14:0  - 14:1          "}"
