0:0  - 4:0    •source_file
0:0  - 3:1      •function_declaration
0:0  - 0:2         "fn"
0:3  - 0:7         name: identifier `main`
0:7  - 0:9         parameters: parameter_list
0:7  - 0:8           "("
0:8  - 0:9           ")"
0:10 - 3:1        body: •block
0:10 - 0:11         "{"
1:2  - 1:16         expression_statement
1:2  - 1:16           call_expression
1:2  - 1:7              function: identifier `print`
1:7  - 1:16             arguments: argument_list
1:7  - 1:8                "("
1:8  - 1:15               argument
1:8  - 1:15                 value: string_literal `\"café\"`
1:15 - 1:16               ")"
2:2  - 2:10         •binding_declaration
2:2  - 2:5            "let"
2:5  - 2:5            pattern: •pattern
2:5  - 2:5              •identifier
2:6  - 2:7             "="
2:8  - 2:10            value: number_literal `42`
3:0  - 3:1           "}"
<source>	(MISSING identifier [2, 5] - [2, 5])
