0:0  - 7:0    source_file
0:0  - 6:1      function_declaration
0:0  - 0:2        "fn"
0:3  - 0:7        name: identifier `main`
0:7  - 0:9        parameters: parameter_list
0:7  - 0:8          "("
0:8  - 0:9          ")"
0:10 - 6:1        body: block
0:10 - 0:11         "{"
1:2  - 1:7          expression_statement
1:2  - 1:7            identifier `const`
1:8  - 1:18         expression_statement
1:8  - 1:18           assignment_expression
1:8  - 1:13             left: identifier `dozen`
1:14 - 1:15             "="
1:16 - 1:18             right: number_literal `12`
2:2  - 2:16         binding_declaration
2:2  - 2:5            "let"
2:6  - 2:12           pattern: pattern
2:6  - 2:12             identifier `groups`
2:13 - 2:14           "="
2:15 - 2:16           value: number_literal `3`
3:2  - 3:28         binding_declaration
3:2  - 3:5            "var"
3:6  - 3:11           pattern: pattern
3:6  - 3:11             identifier `total`
3:12 - 3:13           "="
3:14 - 3:28           value: binary_expression
3:14 - 3:19             left: identifier `dozen`
3:20 - 3:21             "*"
3:22 - 3:28             right: identifier `groups`
4:2  - 4:12         expression_statement
4:2  - 4:12           assignment_expression
4:2  - 4:7              left: identifier `total`
4:8  - 4:10             "+="
4:11 - 4:12             right: number_literal `6`
5:2  - 5:14         expression_statement
5:2  - 5:14           call_expression
5:2  - 5:7              function: identifier `print`
5:7  - 5:14             arguments: argument_list
5:7  - 5:8                "("
5:8  - 5:13               argument
5:8  - 5:13                 value: identifier `total`
5:13 - 5:14               ")"
6:0  - 6:1          "}"
