0:0  - 12:0   source_file
0:0  - 11:1     function_declaration
0:0  - 0:2        "fn"
0:3  - 0:19       name: identifier `shouldAccumulate`
0:19 - 0:45       parameters: parameter_list
0:19 - 0:20         "("
0:20 - 0:32         parameter
0:20 - 0:27           name: identifier `rawDuty`
0:27 - 0:28           ":"
0:29 - 0:32           type: type
0:29 - 0:32             base: type_name
0:29 - 0:32               name: type_identifier `f64`
0:32 - 0:33         ","
0:34 - 0:44         parameter
0:34 - 0:39           name: identifier `error`
0:39 - 0:40           ":"
0:41 - 0:44           type: type
0:41 - 0:44             base: type_name
0:41 - 0:44               name: type_identifier `f64`
0:44 - 0:45         ")"
0:45 - 0:46       ":"
0:47 - 0:51       return_type: type
0:47 - 0:51         base: type_name
0:47 - 0:51           name: type_identifier `Bool`
0:52 - 11:1       body: block
0:52 - 0:53         "{"
1:2  - 10:3         switch_statement
1:2  - 1:8            "switch"
1:9  - 1:16           value: identifier `rawDuty`
1:17 - 1:18           "{"
2:4  - 3:17           switch_case
2:4  - 2:8              "case"
2:9  - 2:18             pattern: pattern
2:9  - 2:18               range_pattern
2:9  - 2:12                 lower: number_literal `0.0`
2:12 - 2:15                 "..."
2:15 - 2:18                 upper: number_literal `1.0`
2:18 - 2:19             ":"
3:6  - 3:17             return_statement
3:6  - 3:12               "return"
3:13 - 3:17               boolean_literal
3:13 - 3:17                 "true"
4:4  - 5:17           switch_case
4:4  - 4:8              "case"
4:9  - 4:15             pattern: pattern
4:9  - 4:15               range_pattern
4:9  - 4:12                 "..<"
4:12 - 4:15                 upper: number_literal `0.0`
4:16 - 4:21             "where"
4:22 - 4:33             guard: binary_expression
4:22 - 4:27               left: identifier `error`
4:28 - 4:29               ">"
4:30 - 4:33               right: number_literal `0.0`
4:33 - 4:34             ":"
5:6  - 5:17             return_statement
5:6  - 5:12               "return"
5:13 - 5:17               boolean_literal
5:13 - 5:17                 "true"
6:4  - 7:17           switch_case
6:4  - 6:8              "case"
6:9  - 6:15             pattern: pattern
6:9  - 6:15               range_pattern
6:9  - 6:12                 lower: number_literal `1.0`
6:12 - 6:15                 ">.."
6:16 - 6:21             "where"
6:22 - 6:33             guard: binary_expression
6:22 - 6:27               left: identifier `error`
6:28 - 6:29               "<"
6:30 - 6:33               right: number_literal `0.0`
6:33 - 6:34             ":"
7:6  - 7:17             return_statement
7:6  - 7:12               "return"
7:13 - 7:17               boolean_literal
7:13 - 7:17                 "true"
8:4  - 9:18           switch_case
8:4  - 8:8              "case"
8:9  - 8:10             pattern: pattern
8:9  - 8:10               "_"
8:10 - 8:11             ":"
9:6  - 9:18             return_statement
9:6  - 9:12               "return"
9:13 - 9:18               boolean_literal
9:13 - 9:18                 "false"
10:2 - 10:3           "}"
11:0 - 11:1         "}"
